{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<style>
		.box {
			width: 500px;
			padding: 40px;
			margin: 50px auto;
			background: #24252A;
			text-align: center;
			border-radius: 24px;
		}
		.box h1 {
			color: white;
			margin-bottom: 50px;
			text-transform: uppercase;
			font-weight: 500;
		}

		.box input[type="email"],
		.box input[type = "password"] {
			border: 0;
			background: none;
			display: block;
			margin: 20px auto;
			text-align: center;
			border: 2px solid #3498db;
			padding: 14px 10px;
			width: 200px;
			outline: none;
			color: white;
			border-radius: 24px;
			transition: 0.25s;
		}
		.box label {
			color: white;
			font-family: roboto;
		}
		.box button[type = "submit"] {
			border: 0;
			background: rgba(0, 136, 169, 1);
			display: block;
			margin: 20px auto;
			text-align: center;
			border: 2px solid #3498db;
			padding: 14px 10px;
			width: 200px;
			outline: none;
			color: white;
			border-radius: 24px;
			transition: 0.25s;
		}
		.box button[type = "submit"]:hover {
			background: rgba(0, 136, 169, 1);
		}
	</style>

	<form class="box" method="post">

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1>Connexion</h1>

		<div class="form-email">
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		</div>

		<div class="form-password">
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
		</div>


		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button type="submit" class="btn">Se connecter</button>

	</form>
{% endblock %}
