{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form/form.css') }}">
{% endblock %}

{% block body %}

	<div class="form">
		<h1>Inscription</h1>

		{{ form_start(registrationForm) }}

		<div>
			{{ form_row(registrationForm.email) }}
		</div>

		<div>
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		</div>

		<div class="form-register-profession">
			{{ form_row(registrationForm.professionnel)}}
		</div>
		
		<div class="form-register-roles">
			{{ form_row(registrationForm.roles)}}
		</div>

		<button type="submit" class="btn">S'inscrire</button>
		{{ form_end(registrationForm) }}

	</div>

	<script>
		let otherCheckbox = document.querySelector('#registration_form_professionnel');
		let otherText = document.querySelector('.form-register-roles');

			otherText.style.visibility = 'hidden';

			otherCheckbox.onchange = function () {
				if (otherCheckbox.checked) {
				otherText.style.visibility = 'visible';
				otherText.value = '';
				} else {
				otherText.style.visibility = 'hidden';
				}
			};
	</script>

{% endblock %}
