<div class="livreur-form">
	<h1>Informations livreur</h1>
	{{ form_start(form) }}
	<div>
		{{ form_label(form.prenom, "Prénom :")}}
		{{ form_widget(form.prenom)}}
	</div>
	<div>
		{{ form_label(form.nom, "Nom :")}}
		{{ form_widget(form.nom)}}
	</div>
	<div>
		{{ form_label(form.telephone, "Téléphone :")}}
		{{ form_widget(form.telephone)}}
	</div>
	<div>
		{{ form_label(form.secteur, "Secteur :")}}
		{{ form_widget(form.secteur, {'attr':{'list':'listeville'}})}}
		<datalist id="listeville">
			{% for ville in villes %}
				<option value="{{ville.nom}}">{{ville.nom}}</option>
			{% endfor %}
		</datalist>
	</div>
	<div>
		{{ form_label(form.vehicule, "Véhicule :")}}
		{{ form_widget(form.vehicule)}}
	</div>
	<div>
		<input type="submit" value="Enregistrer"/>
	</div>
	{{ form_end(form) }}
</div>
