{% extends 'base.html.twig' %}

{% block title %}Edit Livreur{% endblock %}

{% block body %}
    <h1>Edit Livreur</h1>

    {{ include('livreur/_form.html.twig', {'button_label': 'Update'}) }}
	<datalist id="listeville">
		{% for ville in villes %}
			<option value="{{ville.nom}}">{{ville.nom}}</option>
		{% endfor %}
	</datalist>

    <a href="{{ path('livreur_index') }}">back to list</a>

    {{ include('livreur/_delete_form.html.twig') }}
{% endblock %}
