{% extends 'base.html.twig' %}

{% block title %}Go Eat - Pannel livreur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index-livreur.css') }}">
{% endblock %}

{% block body %}
	<main class="pannel-livreur">
		<h1>Pannel Livreur</h1>
		<a href="{{path('livreur_edit')}}">Mes informations</a>
		{# COMMANDES EN COURS #}
		<section>
			<h2>Commandes</h2>
			<h3>En cours sur le secteur de
				{{secteur}}</h3>
			{% if commandesEnCours %}
				<table>
					<thead>
						<th>Numéro de commande</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesEnCours %}
							<tr>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
								<td>
									<a href="{{ path('livreur_action', {'idCommande':commande.id, 'action': 'terminer'}) }}">Indiquer comme livrée</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Vous n'avez aucune commande en cours.</p>
			{% endif %}
		</section>
		{# COMMANDES PRETES #}
		<section>
			<h3>Prêtes sur le secteur de
				{{secteur}}</h3>
			{% if commandesPretes %}
				<table>
					<thead>
						<th>Numéro de commande</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesPretes %}
							<tr>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
								<td>
									<a href="{{ path('livreur_action', {'idCommande':commande.id, 'action': 'prendre'}) }}">Prendre en charge</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Pas de commande sur ce secteur pour le moment.</p>
			{% endif %}
		</section>
		{# COMMANDES LIVREES #}
		<section>
			<h3>Commandes livrées</h3>
			{% if commandesLivrees %}
				<table>
					<thead>
						<th>Secteur</th>
						<th>Numéro de commande</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesLivrees %}
							<tr>
								<td>{{ commande.ville }}</td>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Vous n'avez réalisé aucune commande.</p>
			{% endif %}
		</section>
	</main>
{% endblock %}
