{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <h1>Modification Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
    <datalist id="listeville">
		{% for ville in villes %}
			<option value="{{ville.nom}}">{{ville.nom}}</option>
		{% endfor %}
	</datalist>

    <a href="{{ path('client_index') }}">Retour à la liste</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
