{% extends 'base.html.twig' %}
{% block title %}Client index{% endblock %}
{% block body %}

<style>
.tableau-style{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid midnightblue;
}
thead tr{
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}
th, td{
    padding: 15px 20px;
}
</style>

    <h1>Client index</h1>

    <table class="tableau-style">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Rue</th>
                <th>Complement</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.rue }}</td>
                <td>{{ client.complement }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.codePostal }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
