{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/client-show.css') }}">
{% endblock %}

{% block body %}

	<h1 class="compte-client">Mon compte</h1>

	<div class="monCompte-client">
		<h3>Mes coordonnées</h3>
		<p>{{ client.nom }}</p>
		<p>{{ client.prenom }}</p>
		<p>{{ client.rue }}</p>
		<p>{{ client.complement }}</p>
		<p>{{ client.codePostal }}
			{{ client.ville }}</p>
		<p>{{ client.telephone }}</p>
		<button>
			<a href="{{ path('client_edit', {'id': client.id}) }}">Modifier mon compte</a>
		</button>
	</div>

	<div class="pannel-client">
		<h2>Mes commandes</h2>
		<section>
			<h3>Commandes en cours</h3>
			<table>
				<thead>
					<th>Numero</th>
					<th>Nom</th>
					<th>Montant</th>
					<th>Statut</th>
				</thead>
				<tbody>
					{% for commande in client.commandes %}
						{% if commande.statut.nom != 'livrée'%}
							<tr>
								<td>{{commande.numero}}</td>
								<td>{{commande.restaurant.raisonSociale}}</td>
								<td>{{commande.montant / 100}}
									€</td>
								<td>{{commande.statut.nom}}</td>
								<td>
									<a href="{{path('commande_show', {'id': commande.id}) }}">Voir commande</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>

			</table>
		</section>

		<section>
			<h3>Commandes terminées</h3>
			<table>
				<thead>
					<th>Numero</th>
					<th>Nom</th>
					<th>Montant</th>
					<th>Horaires</th>
					<th></th>
				</thead>
				<tbody>
					{% for commande in client.commandes %}
						{% if commande.statut.nom == 'livrée'%}
							<tr>
								<td>{{commande.numero}}</td>
								<td>{{commande.restaurant.raisonSociale}}</td>
								<td>{{commande.montant / 100}}
									€</td>
								<td>{{ commande.horraireLivraison ? commande.horraireLivraison|date('Y-m-d H:i:s') : '' }}</td>
								<td>
									<a href="{{path('commande_show', {'id': commande.id}) }}">Voir commande</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>

{% endblock %}
