{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <div>
        <p>Mes coordonnées</p>
        <p>{{ client.nom }}</p>
        <p>{{ client.prenom }}</p>
        <p>{{ client.rue }}</p>
        <p>{{ client.complement }}</p>
        <p>{{ client.codePostal }} {{ client.ville }}</p>
        <p>{{ client.telephone }}</p>
    </div>
    <a href="{{ path('client_edit', {'id': client.id}) }}">Modifier mon compte</a>
{% endblock %}
