{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}
	<h1>Mon compte</h1>

	<div>
		<div>
			<h3>Mes coordonnées</h3>
			<p>{{ client.nom }}</p>
			<p>{{ client.prenom }}</p>
			<p>{{ client.rue }}</p>
			<p>{{ client.complement }}</p>
			<p>{{ client.codePostal }}
				{{ client.ville }}</p>
			<p>{{ client.telephone }}</p>
		</div>
		<a href="{{ path('client_edit', {'id': client.id}) }}">Modifier mon compte</a>
	</div>
    <div>
        <h3>Mes commandes</h3>
        <div>
        <h4>Commandes en cours</h4>
            <table>
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Nom</th>
                        <th>Montant</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in client.commandes %}
                        {% if commande.statut != 'livrée'%}
                            <tr>
                                <td>{{commande.numero}}</td>
                                <td>{{commande.restaurant.raisonSociale}}</td>
                                <td>{{commande.montant / 100}} €</td>
                                <td>{{commande.statut.nom}}</td>
                                <td><a href="{{path('commande_show', {'id': commande.id}) }}">Voir commande</a></td>
                            </tr>
                        {% endif %}                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
        <h4>Commandes terminées</h4>
        <table>
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Nom</th>
                        <th>Montant</th>
                        <th>Horraire</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in client.commandes %}
                        {% if commande.statut == 'livrée'%}
                            <tr>
                                <td>{{commande.numero}}</td>
                                <td>{{commande.restaurant.raisonSociale}}</td>
                                <td>{{commande.montant / 100}} €</td>
                                <td>{{ commande.horraireLivraison ? commande.horraireLivraison|date('Y-m-d H:i:s') : '' }}</td>
                                <td><a href="{{path('commande_show', {'id': commande.id}) }}">Voir commande</a></td>
                            </tr>
                        {% endif %}                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
