{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}
	<style>
		.compte-client {
			font-family: roboto;
			margin-left: 100px;
			margin-top: 30px;
			text-decoration: underline;
		}
		.monCompte-client {
			margin: 30px auto;
			width: 800px;
			display: flex;
			align-items: center;
			flex-direction: column;
			font-family: roboto;

		}
		.monCompte-client h2 {
			margin: 10px 0;
		}
		.monCompte-client button {
			background-color: #acace7;
			border: none;
			border-radius: 7px;
			padding: 15px;
			margin-top: 10px;

		}
		.monCompte-client button a {
			text-decoration: none;
			color: white;
			font-size: 16px;
		}
		.pannel-client {
			width: fit-content;
			margin: 2em auto;
		}
		.pannel-client h2,
		.pannel-client h3 {
			color: black;
		}
		.pannel-client h2 {
			text-align: center;
			margin: 1em 0;
		}
		.pannel-client h3 {
			margin-bottom: 0.5em;
		}
		.pannel-client table {
			border-collapse: collapse;
		}
		.pannel-client th,
		.pannel-client td {
			border: 1px solid black;
			padding: 0.5em;
		}
        	.pannel-client section {
			margin: 30px auto;
		}
	</style>

	<h1 class="compte-client">Mon compte</h1>

	<div class="monCompte-client">
		<h3>Mes coordonnées</h3>
		<p>{{ client.nom }}</p>
		<p>{{ client.prenom }}</p>
		<p>{{ client.rue }}</p>
		<p>{{ client.complement }}</p>
		<p>{{ client.codePostal }}
			{{ client.ville }}</p>
		<p>{{ client.telephone }}</p>
		<button>
			<a href="{{ path('client_edit', {'id': client.id}) }}">Modifier mon compte</a>
		</button>
	</div>

	<div class="pannel-client">
		<h2>Mes commandes</h2>
		<section>
			<h3>Commandes en cours</h3>
			<table>
				<thead>
					<th>Numero</th>
					<th>Nom</th>
					<th>Montant</th>
					<th>Statut</th>
				</thead>
				<tbody>
					{% for commande in client.commandes %}
						{% if commande.statut != 'livrée'%}
							<tr>
								<td>{{commande.numero}}</td>
								<td>{{commande.restaurant.raisonSociale}}</td>
								<td>{{commande.montant / 100}}
									€</td>
								<td>{{commande.statut.nom}}</td>
								<td>
									<a href="{{path('commande_show', {'id': commande.id}) }}">Voir commande</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>

			</table>
		</section>

		<section>
			<h3>Commandes terminées</h3>
			<table>
				<thead>
					<th>Numero</th>
					<th>Nom</th>
					<th>Montant</th>
					<th>Horraire</th>
					<th></th>
				</thead>
				<tbody>
					{% for commande in client.commandes %}
						{% if commande.statut == 'livrée'%}
							<tr>
								<td>{{commande.numero}}</td>
								<td>{{commande.restaurant.raisonSociale}}</td>
								<td>{{commande.montant / 100}}
									€</td>
								<td>{{ commande.horraireLivraison ? commande.horraireLivraison|date('Y-m-d H:i:s') : '' }}</td>
								<td>
									<a href="{{path('commande_show', {'id': commande.id}) }}">Voir commande</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>

{% endblock %}
