{% extends 'base.html.twig' %}

{% block title %}Modification compte restaurant{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form/restaurant.css') }}">
{% endblock %}

{% block body %}

    {{ include('restaurant/_form.html.twig', {'button_label': 'Update'}) }}
	<datalist id="listeville">
		{% for ville in villes %}
			<option value="{{ville.nom}}">{{ville.nom}}</option>
		{% endfor %}
	</datalist>

    <button><a href="{{ path('restaurant_index') }}">Retourner à la liste</a></button>

    {# {{ include('restaurant/_delete_form.html.twig') }} #}
{% endblock %}
