{% extends 'base.html.twig' %}

{% block title %}Restaurant index
{% endblock %}

{% block body %}
	<h1>Mon compte</h1>

	<h2>{{restaurant.raisonSociale}}</h2>
	<h3>Adresse</h3>
	<p>{{restaurant.rue}}</p>
	<p>{{restaurant.complement}}</p>
	<p>{{restaurant.codePostal}}
		{{restaurant.ville}}</p>
	<p>{{restaurant.telephone}}</p>
    <button><a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">Modifier mes infos</a></button>

	<h3>Liste des plats</h3>
	<table>
		<thead>
			<tr>
				<th>Photo</th>
				<th>Nom</th>
				<th>Prix</th>
				<th>Stock</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for plat in restaurant.plats %}
				<tr>
					<td><img src="{{asset("images/plat/"~ plat.photo)}}" alt=""></td>
					<td>{{plat.nom}}</td>
					<td>{{plat.prix / 100}}</td>
					<td>{{plat.stock}}</td>
					<td>{{ include('plat/_delete_form.html.twig') }} <a href="{{ path('plat_edit', {'id': plat.id}) }}">Modifier</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
