{% extends 'base.html.twig' %}

{% block title %}Restaurant index
{% endblock %}

{% block body %}
	<h1 class="compteRestaurateur">Mon compte</h1>

	<div class="monCompte">
		<h2>{{restaurant.raisonSociale}}</h2>
		<h3>Adresse</h3>
		<p>{{restaurant.rue}}</p>
		<p>{{restaurant.complement}}</p>
		<p>{{restaurant.codePostal}}
			{{restaurant.ville}}</p>
		<p>{{restaurant.telephone}}</p>
		<button>
			<a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">Modifier mes infos</a>
		</button>
	</div>

	<div class="platRestau">
		<h3>Liste des plats :</h3>

		<ul class="restaurateur">
			{% for plat in restaurant.plats %}
				<li class="unRestau">
					<div class="vitrine"><img src="{{asset("images/plat/"~ plat.photo)}}" alt=""></div>
					<div class="infoPlatRestau">
						<div class="detail">
							<span class="titleRestau">Nom :
								{{plat.nom}}</span>
							<span class="titleRestau">Prix :
								{{plat.prix / 100}}</span>
							<span class="titleRestau">Stock :
								{{plat.stock}}</span>
						</div>
						<div class="editDelete">
							{{ include('plat/_delete_form.html.twig') }}
							<button class="btnEdit">
								<a href="{{ path('plat_edit', {'id': plat.id}) }}">Modifier</a>
							</button>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
		<button class="ajouePlat">
			<a href="{{path('plat_new')}}">Ajouter un plat</a>
		</button>
	</div>


	<style>
		.compteRestaurateur {
			font-family: roboto;
			margin-left: 100px;
			margin-top: 30px;
			text-decoration: underline;
		}
		.monCompte {
			margin: 30px auto;
			width: 800px;
			display: flex;
			align-items: center;
			flex-direction: column;
			font-family: roboto;

		}
		.monCompte h2 {
			margin: 10px 0;
		}
		.monCompte button {
			background-color: #acace7;
			border: none;
			border-radius: 7px;
			padding: 15px;
			margin-top: 10px;

		}
		.monCompte button a {
			text-decoration: none;
			color: white;
			font-size: 16px;
		}

		.platRestau h3 {
			font-family: roboto;
			font-size: 25px;
		}
		.restaurateur {
			width: 80%;
			margin: 30px auto;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
		.restaurateur img {
			width: 100%;
			height: 100%;
		}
		.unRestau {
			list-style-type: none;
			height: 400px;
			width: 30%;
			border: 1px solid black;
			border-radius: 15px;
			margin: 15px;
		}
		.infoPlatRestau {
			display: flex;
			justify-content: space-evenly;
		}
		.vitrine {
			width: 95%;
			height: 65%;
			margin: 2% auto;
		}
		.detail {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			margin: 5px;
		}
		.editDelete {
			width: 200px;
		}
		.titleRestau {
			margin: 5px;
			font-size: 17px;
			font-family: roboto;
			font-weight: 600;
		}
		.restaurateur .btnDelete {
			width: 85%;
			font-family: roboto;
			background-color: red;
			border-radius: 5px;
			border: 1px solid red;
			font-size: 18px;
			padding: 10px;
			cursor: pointer;
			color: white;
		}
		.restaurateur .btnEdit {
			width: 85%;
			font-family: roboto;
			background-color: orange;
			border-radius: 5px;
			border: 1px solid orange;
			font-size: 18px;
			padding: 10px;
			margin: 10px 0;

		}
		.platRestau {
			text-align: center;
			margin: 30px 0;
		}
		.platRestau .ajouePlat {
			width: 20%;
			font-family: roboto;
			background-color: lightgreen;
			border-radius: 5px;
			border: 1px solid lightgreen;
			font-size: 18px;
			padding: 10px;

		}

		.btnDelete a {
			text-decoration: none;
			color: white;
		}
		.btnEdit a {
			text-decoration: none;
			color: white;
		}
		.ajouePlat a {
			text-decoration: none;
			color: black;
		}
	</style>
		<style>
		.pannel-restaurant {
			width: fit-content;
			margin: 2em auto auto;
		}
		.pannel-restaurant h2,
		.pannel-restaurant h3 {
			color: black;
		}
		.pannel-restaurant h2 {
			text-align: center;
			margin: 1em 0;
		}
		.pannel-restaurant h3 {
			margin-bottom: 0.5em;
		}
		.pannel-restaurant section {
			margin-top: 2em;
		}
		.pannel-restaurant table {
			border-collapse: collapse;
		}
		.pannel-restaurant th,
		.pannel-restaurant td {
			border: 1px solid black;
			padding: 0.5em;
		}
	</style>
	<main class="pannel-restaurant">
		<h2>Commandes</h2>
		{# COMMANDES EN ATTENTE #}
		<section>
			<h3>En attente</h3>
			{% set commandesEnAttente = commandes|filter(c => c.statut.nom == 'en attente') %}
			{% if commandesEnAttente %}
				<table>
					<thead>
						<th>Numéro de commande</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesEnAttente %}
							<tr>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
								<td>
									<a href="{{ path('restaurant_action', {'idCommande':commande.id, 'action': 'accepter'}) }}">Accepter</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Aucune commande en attente.</p>
			{% endif %}
		</section>
		{# COMMANDES ACCEPTEES #}
		<section>
			<h3>Acceptées</h3>
			{% set commandesAcceptees = commandes|filter(c => c.statut.nom == 'acceptée') %}
			{% if commandesAcceptees %}
				<table>
					<thead>
						<th>Numéro de commande</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesAcceptees %}
							<tr>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
								<td>
									<a href="{{ path('restaurant_action', {'idCommande':commande.id, 'action': 'finir'}) }}">Indiquer comme prête</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Aucune commande acceptées.</p>
			{% endif %}
		</section>
		{# COMMANDES PRETES #}
		<section>
			<h3>Prêtes</h3>
			{% set commandesPretes = commandes|filter(c => c.statut.nom == 'prête') %}
			{% if commandesPretes %}
				<table>
					<thead>
						<th>Numéro de commande</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesPretes %}
							<tr>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Aucune commande prêtes.</p>
			{% endif %}
		</section>
		{# COMMANDES EN LIVRAISON #}
		<section>
			<h3>En livraison</h3>
			{% set commandesEnLivraison = commandes|filter(c => c.statut.nom == 'prise en charge par le livreur') %}
			{% if commandesEnLivraison %}
				<table>
					<thead>
						<th>Numéro de commande</th>
						<th>Infos livreur</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesEnLivraison %}
							<tr>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.livreur.prenom }}
									{{ commande.livreur.nom }}
									{{ commande.livreur.telephone }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Aucune commande en livraison.</p>
			{% endif %}
		</section>
		{# COMMANDES LIVREES #}
		<section>
			<h3>Livrées</h3>
			{% set commandesLivrees = commandes|filter(c => c.statut.nom == 'livrée') %}
			{% if commandesLivrees %}
				<table>
					<thead>
						<th>Numéro de commande</th>
						<th>Infos livreur</th>
						<th>Adresse</th>
						<th>Complément d'adresse</th>
						<th>Nom client</th>
						<th>Téléphone client</th>
					</thead>
					<tbody>
						{% for commande in commandesLivrees %}
							<tr>
								<td>{{ commande.numero }}</td>
								<td>{{ commande.livreur.prenom }}
									{{ commande.livreur.nom }}
									{{ commande.livreur.telephone }}</td>
								<td>{{ commande.rue }}</td>
								<td>{{ commande.complement }}</td>
								<td>{{ commande.client.prenom }}
									{{ commande.client.nom }}</td>
								<td>{{ commande.client.telephone }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Aucune commande livrées.</p>
			{% endif %}
		</section>
	</main>

{% endblock %}
