{% extends 'base.html.twig' %}

{% block title %}Restaurant
{% endblock %}

{% block body %}
	<h1>{{restaurant.raisonSociale}}</h1>

	<h3>Adresse</h3>
	<p>{{restaurant.rue}}</p>
	{% if restaurant.complement %}
		<p>{{restaurant.complement}}</p>
	{% endif %}
	<p>{{restaurant.ville}}</p>

	{% for plat in restaurant.plats %}
		<div>
			<a href="{{path('plat_show',{'id': plat.id})}}">
				<p>{{plat.nom}}</p>
				<img src="{{ asset("images/plat/"~ plat.photo)}}">
				<p>{{plat.description}}</p>
				<p>{{plat.prix / 100}}</p>
			</a>
		</div>
	{% endfor %}
{% endblock %}
