<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}

		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}
	</head>
	<style>
		* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;

		}
		.logo {
			color: white;
			cursor: pointer;
			display: flex;
			align-items: center;
			margin-left: 5%;
		}

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #24252A;
			font-family: roboto, sans serif;
		}
		header .title-logo{
			width: 200px;
			margin-left: 20px;
		}
		.navbar a {
			font-weight: 500;
			font-size: 16px;
			color: #edf0f1;
			text-decoration: none;
		}
		.navbar button {
			font-weight: 500;
			font-size: 16px;
			color: #edf0f1;
			text-decoration: none;
		}

		.navbar button {
			padding: 9px 25px;
			background-color: #acace7;
			border: none;
			border-radius: 50px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
		}
		.navbar button:hover {
			background-color: #acace7;
		}

		.logoImage {
			height: 100px;
			display: flex;
			align-items: center;
		}

		.logoImage img {
			height: 100%;
		}
	</style>
	<body>
		{% block nav %}
			<header class="navbar">

				<a  class="title-logo" href="{{path('home')}}">
					<h1 class="logo">Go Eat<div class="logoImage">
							<img src="{{asset("images/logo.PNG")}}"></div>
					</h1>
				</a>

				<div>

					{% if app.user %}
						{% if app.user.roles[0] == "ROLE_RESTAURATEUR" %}
							<button>
								<a href="{{path('restaurant_index')}}" class="btnDeconnexion">Mon compte</a>
							</button>
						{% endif %}
						{% if app.user.roles[0] == "ROLE_LIVREUR" %}
							<button>
								<a href="{{path('livreur_index')}}" class="btnDeconnexion">Mon compte</a>
							</button>
						{% endif %}
						{% if app.user.roles[0] == "ROLE_USER" %}
							<button>
								<a href="{{path('client_index')}}" class="btnDeconnexion">Mon compte</a>
							</button>
						{% endif %}
					{% endif %}


					{% if app.user %}
						<button>
							<a href="{{path('app_logout')}}" class="btnDeconnexion">Déconnexion</a>
						</button>
					{% else %}
						<button>
							<a href="{{path('app_login')}}" class="btnConnexion">Connexion</a>
						</button>
						<button>
							<a href="{{path('app_register')}}" class="btnInscription">Inscription</a>
						</button>
					{% endif %}

				</div>
			</header>
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
