{% extends 'base.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}
    <h1>Les plats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Description</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.prix }}</td>
                <td>{{ plat.stock }}</td>
                <td>{{ plat.description }}</td>
                <td>{{ plat.photo }}</td>
                <td>
                  <button><a href="{{ path('plat_show', {'id': plat.id}) }}">show</a></button> 
                   <button><a href="{{ path('plat_edit', {'id': plat.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <button> <a href="{{ path('plat_new') }}">Create new</a></button>
{% endblock %}
