{% extends 'base.html.twig' %}

{% block title %}Plat
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/plat-show.css') }}">
{% endblock %}

{% block body %}

	<fieldset class="plat">

		<div class="imagePlat">
			<img src="{{asset("images/plat/"~ plat.photo)}}">
		</div>

		<div class="textePlat">
			<span class="nom">{{ plat.nom }}</span>
			<span class="description">
				{{plat.description}}</span>
			<span class="prix">{{plat.prix / 100}}
				€</span>

			<a href="{{ path('ajouter_plat',{'id': plat.id}) }}">
				Ajouter au panier
			</a>

		</div>

	</fieldset>


{% endblock %}
